/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
:root {
  --bg: #121212; /* dark background */
  --text: #e0e0e0; /* light text */
  --accent: #e4d93d; /* optional: like Reddit orange */
  --accent-hover: #ff784e;
  --border: #333;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
